/home/garulf/.screenlayout/apply_layout.sh &

pidof discord || discord --start-minimized &
openrgb -p /home/garulf/.config/OpenRGB/Albus.orp && openrgb --startminimized &

# check steam is not running already

pidof steam || steam -nochatui -nofriendsui -silent &
# ckb-next -b &
# start eww daemon
eww daemon &
